section{
	padding-left: 300px; 
	padding-right: 300px;
}

div.content{
	position: relative;
	min-height: 1000px;
	width: 1303px;
	border: 1px solid black;
	padding: 50px 50px 50px 50px;
}

input.input{
	display: block;
}

input.title{
	width: 80%;
}

p.p{
	display: inline;
}

.flex{
	display: inline;
}

div#submit{
	text-align: center;
}
p.title{
	display: inline;
}
p.info {
	color: red;
	font-size: 12px;
	display: inline;
}